:root {
  --color-background-dark: #f4f1de;
  --color-background-medium: #81b29a;
  --color-text-light: black;
  --color-accent: #81b29a;
  --color-accent-hover: #f4f1de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-background-dark);
  display: grid;
  place-items: center;
}

.calculadora {
  background-color: var(--color-background-medium);
  color: var(--color-text-light);
  width: 350px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.pantalla {
  grid-column: 1 / -1;
  background-color: var(--color-background-dark);
  padding: 1.5rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Courier New", monospace;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  background-color: var(--color-background-medium);
  color: var(--color-text-light);
  border: 0;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--color-background-dark);
}

#cero {
  grid-column: span 2;
}

#igual {
  grid-row: span 2;
  background-color: var(--color-accent);
}

#igual:hover {
  background-color: var(--color-accent-hover);
}
